@font-face {
    font-family: 'fuente-propia';
    src: url('../fonts/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'fuente-propia' ;
    color: white;
    background-image: url("../images/fondo_logo_blur.jpg");
    background-size: cover;
}
  
h1{
    text-align: center;
}

#radioSection{
    text-align: center;
}

.contactImage{
    width: 50px;
    height: 50px;
}

.contactSections{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}